@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.bluebtn {
    background: #009688;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
}

.foot_nav {
    position: fixed;
    height: 0px;
    right: 0px;
    width: 0px;
    z-index: 3;
    bottom: 0px;
}

.foot_nav .bluebtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    padding-top: 15px;
    box-shadow: 0px 3px 20px rgba(0, 150, 136, 0.73);
    overflow: hidden;
}

@media (max-width: 48em) {
    .foot_nav .bluebtn {
        bottom: 90px;
    }
}

.foot_nav .bluebtn .fa-plus {
    position: absolute;
    top: 18px;
    right: 18px;
}

.card {
    left: 0;
    border-radius: 10px;
    width: 100%;
    transition: all .3s, box-shadow .3s;
}

.card:hover {
    transition: all .3s;
    left: -5px;
    width: calc(100% + 10px);
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carousel .carousel-item img {
    height: 400px;
}

.carousel-inner > .carousel-item {
    height: 400px;
}

.carousel-caption {
    text-align: center;
}

.carousel-item {
    min-height: 200px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@font-face {
    font-family: 'BrandFont';
    src: url('/fonts/brand-font.eot');
    src: local('☺'), url('/fonts/brand-font.woff') format('woff'), url('/fonts/brand-font.ttf') format('truetype'), url('/fonts/brand-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.brand-text {
    font-family: BrandFont, serif;
    font-size: 2em;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-menu {
    min-width: 5rem;
}

.avatar {
    border-radius: 25px;
}

.navbar-collapse {
    max-height: 60px;
}

.selector {
    top: -8px;
}